* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;

    >body {
        background: #02013b;
        color: #cfd7ff;
        padding: 2em;
    }
}